<div class="site-footer-links">
    <a href="https://www.linkedin.com/in/hamonra/" rel="me" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    <span class="dot">•</span>
    <a href="https://github.com/Pharaoh00" rel="me" target="_blank" rel="noopener noreferrer">GitHub</a>
</div>
<div class="site-footer-text">
    <section>Project Ex Nihilo Technology ©</section>
    <section>"From nothing comes everything and only knowledge makes it real!" - Hamon-Rá Taveira Guimarãe, <span class="page-year"></span>.</section>
</div>