<h1 class="site-title"><a href="/" data-link>Project Ex Nihilo</a></h1>
<div class="menu-items">
  <nav class="nav-menu" id="nav-menu">
    <a href="/" data-link>Home</a>
    <a href="/posts" data-link>Posts</a>
    <a href="/about" data-link>About</a>
    <a href="/contact" data-link>Contact</a>
  </nav>
  <nav class="nav-menu-hamburger" id="nav-menu-hamburger" data-toggle="hamburger">
    <a href="/" data-link>Home</a>
    <a href="/posts" data-link>Posts</a>
    <a href="/about" data-link>About</a>
    <a href="/contact" data-link>Contact</a>
  </nav>
  <div class="hamburger" id="hamburger" data-toggle="hamburger">
      <span id="hamburger-span" data-toggle="hamburger"></span>
      <span id="hamburger-span" data-toggle="hamburger"></span>
      <span id="hamburger-span" data-toggle="hamburger"></span>
  </div>
</div>